@model EmpireDirectory.Models.HomeIndexVM
<br /><div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-3">
            <a href=""><img class="img-responsive" style="height:200px; width:200px;" src="@Model.FeauturedCharacter.Image"></a>
        </div>
        <div class="col-md-9" style="text-align:center; font-size:large">
            "@Model.FeauturedCharacter.Quote"
            - @Model.FeauturedCharacter.Name
        </div>
    </div>
</div>
<table class="table table-condensed table-striped table-responsive">
    <tr><th></th><th>Name</th><th>Affiliation</th></tr>
    @foreach (var c in Model.Characters)
    {
        <tr>
            <td><img class="img-responsive img-thumbnail" style="height:50px; width:50px;" src="@c.Image"></td>
            <td>@c.Name</td>
            <td>@c.Affiliation</td>
        </tr>
    }
</table>